{% extends "student/base.html" %}
{% block container %}

<div style="width: 300px; margin: auto;">
<h2>Student Form</h2>

{% comment %}
<form action="">
  <label for="">student name</label>
  <input type="text" />
  <input type="submit" value="OK" />
</form>
{% endcomment %}


{% load crispy_forms_tags %}
<form action="" method="post" enctype="multipart/form-data">
  <!-- {% csrf_token %} {{ form.as_p }} -->
  {% csrf_token %} {{ form | crispy }} <!-- crispy_form-->
  <input type="submit" value="OK" />
</form>
</div>
{% endblock container %}